
.ui.celled.grid {
  margin: 0.73em 0;
}
.ui.celled.grid>.column:first-child, .ui.celled.grid>.row>.column:first-child {
  height: 20em;
  max-height: 20em;
  overflow: scroll;
}

body ::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

.ui.grid>.row>.column {
  height: 20em;
  max-height: 20em;
  overflow: scroll;
}

.ui.divider {
  margin-bottom: 0px;
}
